<div class="container">
  <h1>{{ username }}'s Dashboard</h1>

  <table id="userProblems" class="table table-condensed">
    <thead>
      <tr>
        <th class="text-center">Title</th>
        <th class="text-center">Prompt</th>
        <th class="text-center"># of Attempts</th>
        <th class="text-center">Average Rating</th>
        <th class="text-center">Last Attempt</th>
        <th class="text-center">Problem Weight</th>
      </tr>
    </thead>
    <tbody>
      <!-- TOOD: Order problems by weight -->
      <tr ng-repeat="problem in problems">
        <td>{{ problem.title }}</td>
        <td>{{ problem.prompt }}</td>
        <td>{{ problem.attempts.length }}</td>
        <td>{{ avgRating(problem.attempts, 10) }}</td>
        <td>{{ lastAttempted(problem) }}</td> <!-- TODO: Display friendly date time -->
        <td>{{ calcWeight(problem) }} </td>
      </tr>
    </tbody>
  </table>
</div>