<div class="site-promo">
  <h1>The smartest way to practice JavaScript</h1>
</div>
<a id="sign-up" class="btn btn-lg btn-primary" href="#/signup"><strong>Sign Up</strong></a>
<div id="intro-info" class="row">
  <div class="col-md-4">
    <h3>Overview</h3>
    <p>
      Recall.js will help keep your technical skills up-to-date and prepare you to take on a technical interview at a moment’s notice. 
    </p>
  </div>
  <div class="col-md-4">
    <h3>Smart Algorithm</h3>
    <p>
      We use a spaced-repetition learning algorithm to optimize your recall of technical interview questions. The focus on TDD and in-browser coding provides a productive learning environment for evaluating your performance on programming challenges.
    </p>
  </div>
  <div class="col-md-4">
    <h3>Train with friends</h3>
    <p>
      Recall.js provides a collaborative community in which the user can discover new and interesting programming challenges, and share theirs with the world.
    </p>
  </div>

</div>