<div class="site-promo">
  <h1>The smartest way to practice JavaScript</h1>
</div>
<a id="sign-up" class="btn btn-lg btn-primary" href="#/signup"><strong>Sign Up</strong></a>
<div id="intro-info" class="row">
  <div class="col-md-4">
    <h3>Overview</h3>
    <p>
      Jean shorts VHS Schlitz hella, viral Austin messenger bag sartorial DIY migas ugh Blue Bottle meggings Pitchfork. Tilde keffiyeh Schlitz kogi plaid, photo booth next level. Tote bag skateboard cronut, drinking vinegar cold-pressed master cleanse ennui. Tofu Etsy chillwave Kickstarter Bushwick, bespoke you probably haven't heard of them. Echo Park try-hard meh, listicle skateboard Carles banh mi typewriter Tumblr sustainable Intelligentsia post-ironic leggings trust fund.
    </p>
  </div>
  <div class="col-md-4">
    <h3>Smart Algorithm</h3>
    <p>
      Health goth fixie banh mi, fanny pack kitsch +1 taxidermy Neutra cronut. Artisan biodiesel PBR, polaroid Schlitz migas Echo Park 90's hella swag. Salvia paleo church-key, Intelligentsia pour-over Carles slow-carb retro jean shorts meditation drinking vinegar tote bag. Neutra brunch direct trade, drinking vinegar YOLO skateboard small batch synth. Swag fashion axe jean shorts, bespoke taxidermy Kickstarter meh tousled distillery 90's ennui yr cray banjo tattooed.
    </p>
  </div>
  <div class="col-md-4">
    <h3>Other</h3>
    <p>
      Health goth fixie banh mi, fanny pack kitsch +1 taxidermy Neutra cronut. Artisan biodiesel PBR, polaroid Schlitz migas Echo Park 90's hella swag. Salvia paleo church-key, Intelligentsia pour-over Carles slow-carb retro jean shorts meditation drinking vinegar tote bag. Neutra brunch direct trade, drinking vinegar YOLO skateboard small batch synth. Swag fashion axe jean shorts, bespoke taxidermy Kickstarter meh tousled distillery 90's ennui yr cray banjo tattooed.
    </p>
  </div>

</div>