<div class="container">
  <h1>Create a Problem</h1>
  <form class="form-horizontal">
    <!-- Problem Title -->
    <div class="form-group">
      <label for="inputTitle" class="control-label col-md-3">Problem Title</label>
      <div class="col-md-9">
        <input type="text" class="form-control" id="inputTitle" placeholder="Enter title here">
      </div>
    </div>

    <!-- Problem Prompt -->
    <div class="form-group">
      <label for="inputPrompt" class="control-label col-md-3">Prompt</label>
      <div class="col-md-9">
        <textarea rows="5" class="form-control" id="inputPrompt" placeholder="Enter prompt here"></textarea>
      </div>
    </div>

    <!-- Function Name -->
    <div class="form-group">
      <label for="inputFuncName" class="control-label col-md-3">Function Name</label>
      <div class="col-md-9">
        <input type="text" class="form-control" id="inputFuncName" placeholder="Enter function name here">
      </div>
    </div>
  </form>
</div>
